.page {
    overflow: hidden;
}

.welcomeSection {
    align-items: center;
    justify-content: space-around;
}

.heading {
    text-align: right;

    @media (max-width: 992px) {
        text-align: center;
    }
}

.sectionColumn {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.topAligned {
    justify-content: flex-start;
}

.image {
    display: flex;
    flex-shrink: 0;
    width: 325px;
    height: 325px;
    border-radius: 100%;

    @media (max-width: 768px) {
        width: 250px;
        height: 250px;
    }
}

.imageCommunity {
    position: absolute;
    max-width: 98vw;
    height: auto;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;

    @media (max-width: 884px) {
        position: static;
        margin-left: -60px;
        max-width: none;
    }
}

.communitiesContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;
    }
}
